
body {
    background: black no-repeat right bottom !important;
    margin: 0;
    text-align: center;
}
div {
	/*border: solid 1px rgba(255,0,0,1);*/
	color: black;
}

html {
	background-color: black;
}

.row {
	/*height: inherit;*/
}

.main-outer-container {
	height: 100vh;
	/*min-height: auto;*/
	width: 97vw;
	background-color: black;
}

.scaled-container {
	background: url(../images/src/main_content_bg.png) no-repeat center center; 
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	height: inherit;
	width: auto;
}

.scaled-container-top {
	background: url(../images/src/nav_bg.png) no-repeat center center; 
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	height: inherit;
	/*max-width: 70%;*/
	width: auto;
}