<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
	<link href="{% static "home/styles/style.css" %}" rel="stylesheet" type="text/css">
<!-- 	<link href="{% static "home/styles/style_mobile.css" %}" rel="stylesheet" type="text/css" media="only screen and (max-width: 400px)" > -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
	<script src="{% static "home/js/main.js" %}" type="text/javascript"></script>
</head>

<body>
<div class="main-outer-container container-fluid">
<div class="scaled-container">
	<div class="scaled-container-top">
		<div class="nav-container">
			<div id='search_div'>
				<b><strong>Search Flickr for Photos:</strong></b>
				<input id='search_text' type="text" style="color:black;text-align:center;">
				<input type="submit" onclick="searchPhotos()" style="color:black;">
			</div>
		</div>
	</div>
	<div id="slider-container">
		<div id="slider" class="fotorama" data-width="100%" data-height="90%" data-loop="true" data-fit="contain" data-nav="thumbs" data-allowfullscreen="native" data-trackpad="true">
	  		<img src="{% static "home/images/spurs1.jpg" %}">
	  		<img src="{% static "home/images/spurs2.jpg" %}">
	  		<img src="{% static "home/images/spurs3.jpg" %}">
	  		<img src="{% static "home/images/spurs4.jpg" %}">
	  		<img src="{% static "home/images/spurs5.jpg" %}">
		</div>
	</div>
</div>
</div>




</body>
</html>